<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.sacyg.restarantes"
    version   = "1.0.0">

<name>SACYG MOVIL</name>

<description>
Aplicacion Movil para SACYG
</description>

<author href="https://sacyg_restaurantes.com" email="mauricio2769@gmail.com">
SACYG
</author>

</widget>
